@import url (font-face.css);
body { 
	background-color: #fff;
	display: inline-block;
	text-align: center;
	font-family:'lato-regular';
  	src: url('../fonts/lato-regular/Lato-Reg-webfont.ttf')  format('truetype'),
	font-size: 90%;
	margin: 0px;
	padding: auto;}

.container {
	width: 1110px;
	margin: 0px auto;
}

header {
	background-color: #262626;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #fff;
	width:100%;}

#logo img {
	background-color: #262626;
	float: left;
	width: 15%;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 15px
}
ul {
	display: inline-block;
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline-block; 
	word-spacing: 5px;
	text-decoration: none;
	font-family: 'lato-regular;' url(css/font-face.css);
}
.webpaint {
	display: inline-block;
	float: right;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.webpaint ul {
	display: inline-block;
	text-transform: uppercase;
	list-style-type: none;
	text-align: right;
}
.webpaint li, a {
	padding: 10px 10px 10px 10px;
	color: #fff;
	text-decoration: none;}
.webpaint a:visited {
	color: #fff;}
.webpaint a:active {
	color: #fff;
	padding-bottom: 2px;}
.webpaint a:hover {
	color: #ff6760;
	text-decoration: none;}

.heading {
	display: inline;
	background-color: #262626;
	color: white;
	text-align: center;}

h1 {
	display: inline-block;
	text-align: center;
	font-family: 'lato-light;' url(css/font-face.css);
	width: 100%;
	top-margin: 50px;
	padding: 10px 10px 10px 10px;
	justify-content: center;
	align-item: center;
}
h2, h3{
	display: inline-block;
	text-align: center;
	font-family: 'lato-regular';
	font-size: 26px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	justify-content: center;
	align-item: center;
}
button {
	display: inline-block;
	width: 120px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 80%;
	background: #ff6760;
	color: #fff;
	cursor: pointer;
	border: .5px solid #999;
	border-radius: 10px;}

button:hover {
	background: #595959;}

.containertwo, .containerthree, .containerfour, .containerfive {
	width: 220px;
	text-align: center;
	}
.containertwo {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
 }
.containerthree {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
}
.containerfour {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 10px;

}
.containerfive {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
}
.work {
	position: relative;
	display: inline-block;
	float: center;
	margin-top: 20px;
	padding: auto;
}

footer {
	background-color: #262626;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	color: #fff;}

p {
	font-size: 16px;
	font-family: 'lato-light';
}
.touch {
	font-size: 18px;
	word-spacing: 2px;
	letter-spacing: 1px;
}

.contact {
	padding: 50px 10px 10px 10px;
	margin-top: 50px;}
address {
	display: inline-block;
	position: relative;
	font-style: normal;
}
.containersix {
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
}
.containersix img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}

.copy {
	display: inline-block, inline-flex;
	padding: 10px 10px 10px 10px;
	background-color: black;
	text-align: center;
	word-spacing: 2px;
	margin-top: 40px;}







