@import url (font-face.css);
body { 
	background-color: #fff;
	display: inline-block;
	text-align: center;
	font-family:'lato-light';
  	src: url('../fonts/lato-light/Lato-Light-webfont.ttf')  format('truetype');
	font-size: 90%;
	margin: 0px;
	padding: auto;}

.container {
	width: 1110px;
	margin: 0px auto;
	padding: 20px 10px 10px 20px;
}
.containerheading {
	width: 1110px;
	margin: 0px auto;
	padding: 50px 25px 25px 50px;
	word-spacing: 2px;
	letter-spacing: 4px;
}
.containerwork {
	width: 1110px;
	margin: 0px auto;
	padding: 0px 10px 10px 10px;
	display: inline-block;
}
.containerthumbnails {
	width: 95%;
	margin: 0px auto;
	padding: 20px 10px 10px 50px;
	display: inline-block;
}
header {
	background-color: #262626;
	margin: 0px 0px 0px 0px;
	color: #fff;
	width:100%;
}
#logo img {
	background-color: #262626;
	float: left;
	width: 15%;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 15px
}
ul {
	display: inline-block;
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline-block; 
	word-spacing: 5px;
	text-decoration: none;
	font-family: 'lato-regular;' url(css/font-face.css);
}
.webpaint {
	display: inline-block;
	float: right;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.webpaint ul {
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
	list-style-type: none;
	text-align: right;
}
.webpaint li, a {
	padding: 10px 10px 10px 10px;
	color: #fff;
	text-decoration: none;
}
.webpaint a:visited {
	color: #fff;
}
.webpaint a:active {
	color: #fff;
	padding-bottom: 2px;
}
.webpaint a:hover {
	color: #ff6760;
	text-decoration: none;
}
h1 {
	display: inline-block;
	text-align: center;
	font-family: 'lato-light' url(css/font-face.css);
	font-size: 38px;
	width: 95%;
	top-margin: 50px;
	padding: 10px 10px 10px 10px;
	letter-spacing: 2px; 
	word-spacing: 4px;
}
strong {
	letter-spacing: 4px;
	font-family: 'lato-black';
	src: url ('../fonts/lato-black/Lato-Bla-webfont.ttf')  format('truetype');
}
h2 {
	display: inline-block;
	text-align: center;
	font-family: 'lato-light'; 
	letter-spacing: 1.5px;
	word-spacing: 4px;
	font-size: 30px;
	margin: 0 auto;
	padding: 20px 50px 20px 50px;
	color: #bebebe;
}
h3 {
	color: #616161;
	font-family: 'lato-black';
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 2px;
}
.gt {
	color: #fff;
	letter-spacing: 2px;
	word-spacing: 4px;
}
h4 {
	font-family: 'lato-black';
	font-size: 18px;
	color: #595959;
}
button {
	display: inline-block;
	width: 200px;
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
	font-size: 100%;
	text-transform: uppercase;
	text-align: center;
	background: #ff6760;
	color: #fff;
	cursor: pointer;
	border: .5px solid #999;
	border-radius: 10px;
}
.buttall {
	width: 68px;
	float: left;
}
.buttgraph {
	width: 104px;
	float: left;
}
.buttill {
	width: 166px;
	float: left;
}
.buttmo {
	width: 102px;
	float: left;
}
button:hover {
	background: #595959;
}
.containertwo, .containerthree, .containerfour, .containerfive {
	width: 235px;
	height: 235px;
	text-align: center;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
}
.containertwo {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.containerthree {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.containerfour {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.containerfive {
	display: inline-block;
	vertical-align: middle;
}
.work {
	display: inline-block;
	width:100%;
	margin-top: 20px;
	padding: auto;
}
footer {
	background-color: #262626;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	color: #595959;
}
p {
	font-size: 16px;
	font-family: 'lato-light';
	line-height: 22px;
}
.p {
	font-size: 18px;
	word-spacing: 4px;
	letter-spacing: 2px;
	font-family: 'lato-light';
}
.touch {
	font-size: 18px;
	word-spacing: 4px;
	letter-spacing: 2px;
	line-height: 18px;
	color: #fff;
}
.contact {
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
}
address {
	display: inline-block;
	position: relative;
	font-style: normal;
	color: #fff;
	word-spacing: 2px;
	letter-spacing: 2px;
	line-height: 16px;
	font-size: 16px;
}
.tel:02475416587 {
	font-style: normal;
	color: #fff;
	word-spacing: 2px;
	letter-spacing: 2px;
	line-height: 16px;
	font-size: 16px;
	padding: none;
}
.containersix {
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
}
.containersix img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}
.copy {
	display: inline-block, inline-flex;
	padding: 10px 10px 10px 10px;
	background-color: black;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 2px;
	margin-top: 40px;
	color: #fff;
}







